.mint-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mint-wrapper__image {
  margin-bottom: 12px;
  & > img {
    width: 400px;
    height: 400px;
  }
}
.mint-wrapper__reward {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}
.mint-wrapper__counter {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.counter-minus {
  margin-left: 12px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  font-size: 24px;
  background: var(--orange-gradient);
  padding: 2px 15px;
  border-radius: 13px;
}
.counter-value {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.counter-plus {
  display: flex;
  align-items: center;
  justify-self: center;
  cursor: pointer;
  margin-right: 12px;
  color: #fff;
  font-weight: 600;
  background: var(--orange-gradient);
  padding: 2px 15px;
  border-radius: 13px;
  font-size: 24px;
}
